################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContentModeratorTest/v16
/.vs/ContentModeratorTest/DesignTimeBuild
/ContentModeratorTest/obj
